################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Game_project/v15/.suo
/.vs/Game_project/v15/Browse.VC.db
/.vs/Project1/v15/Browse.VC.db
/.vs/Project1/v15/Browse.VC.opendb
/.vs/Game_project/v15/Browse.VC.opendb
/Game_project/Project1.sln
/.vs/slnx.sqlite
/Project1/Project1.vcxproj
/Project1/Project1.vcxproj.filters
Project1/Project1.vcxproj.user